*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ADD8E6;
}

header h1{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Sigmar One', cursive;
    padding-top: 30px;
    color: white;
    font-size: 50px;
}

main{
    width: 70%;
    margin: auto;
}

.raw{
    width: 100%;
    height: 200px;
    margin-top: 20px;
   
}

raw::after {
    content: "";
    display: table;
    clear: both;
   
}

.card{
    /* background-color: bisque; */
    width: calc(100% / 4);
    height: 100%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: bisque;
    border-radius: 10px;
    /* display: none; */
}