*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ADD8E6;
    font-family: 'Sigmar One', cursive;
}

header h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    color: white;
    font-size: 50px;
}

main{
    width: calc(200px * 4 + 10px * 8);
    height: calc((300px + 2*10px ) * 3);
    margin: auto;
}

.raw{
    width: 100%;
    height: auto;
    margin-top: 10px;   
}

raw::after {
    content: "";
    display: table;
    clear: both;
   
}

.card{
    margin-top: 20px;
    width: 200px;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

}

.card-back{
   
    width: 100%;
    height: 100%;
    background-image: url(pattern.png);
    background-color: white;
    background-size: contain;
    border-radius: 10px;
    position: absolute;
    border-radius: 10px;
    
}

.card:hover .card-front{
    display: inline-block;
}



.card-front{
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
    background-color: white;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
    display: none;
    
}

.one{
    background-image: url(noun_air_balloon_3134741.png);
    color: red;
}

.two{
    background-image: url(noun_Bicycle_3134821.png);
    color: yellow;
}

.three{
    background-image: url(noun_Cruise_Ship_3134824.png);
    color: green;
}

.four{
    background-image: url(noun_Submarine_3134738.png);
    color: blue;
}

.five{
    background-image: url(noun_Tractor_3134797.png);
    color:cyan
}

.six{
    background-image: url(noun_Tram_3134750.png);
    color: violet;

}
h2{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5px;

}

#fixed{
    display: inline-block;
}

h3{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}